<div class="form-inline" action="">
  <div class="form-group mb-2">
    <label class="mr-2">Evento:</label>
    <input
      type="text"
      name=""
      id=""
      class="form-control mr-3"
      placeholder="Buscar Evento"
      [(ngModel)] = "filtroLista"
    />
  </div>
</div>
<h4 class="">Filtro: {{filtroLista}}</h4>
<table class="table table-striped" *ngIf="eventos && eventos.length">
  <thead class="thead-dark">
    <tr>
      <th>
      <button title="Exibir Imagem" class="btn btn-primary" (click)="alternarImagem()"><i class="fas fa-search"></i></button>
      </th>
      <th>#</th>
      <th>Tema</th>
      <th>Local</th>
      <th>Data</th>
      <th>Qtde Pessoas</th>
      <th>Lote</th>
      <th>Opções</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let evento of eventosFiltrados">
      <td>
      <img *ngIf="mostrarImagem"
       src="http://localhost:5000/img/{{ evento.imagemURL }}"
        [style.width.px]="imagemLargura"
        [style.margin.px]="imagemMargem"
      />
      </td>
      <td>{{ evento.eventoId }}</td>
      <td>{{ evento.tema }}</td>
      <td>{{ evento.local }}</td>
      <td>{{ evento.dataEvento }}</td>
      <td>{{ evento.qtdPessoas }}</td>
      <td>{{ evento.lote | uppercase}}</td>

      <td>
        <button class="btn btn-success"></button>
        <button class="btn btn-danger"></button>
      </td>
    </tr>
  </tbody>
</table>

<div class="text-center" *ngIf="!eventos.length">
  <h4>Nenhum evento encontrado</h4>
</div>
